<a href="/"><button class="btn navButton ">Home</button> </a>

<a href="/booking"><button class="btn navButton ">Facility bookings</button> </a>

<a href="/userBooking"><button class="btn navButton ">User bookings</button> </a>

<a href="/newBooking"><button class="btn navButton ">Book</button> </a>

<a href="/login"><button class="btn navButton ">Login</button> </a>

<a href="/register"><button class="btn navButton ">New user</button> </a>

<button class="btn navButton  id="logoutButton">Logout</button>