<main id="mainIndex">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div id="facilityBox" class="col-12 col-md-6">
        <h3>Our facilities</h3>
        {{#each facilityNames}}
           <p>{{ name}}</p>
        {{/each}}
      </div>
      <div id="indexMenuBox" class="col-3">
        {{> navButtons }}
      </div>
    </div>

  </div>

<script src="js/index.js"></script>
</main>
