<main id="mainIndex">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-12 col-8-sm col-md-6 col-lg-4">
        <div id="facilityBox" >
          <h2 id="facilityTitle">Our facilities</h2>
          {{#each facilityNames}}
            <h5 class="facilityName">{{ name}}</h5>
          {{/each}}
        </div>
      </div>
      <div class="menuBox" class="col-5 col-md-3">
        {{> navButtons }} 
      </div>
    </div>

  </div>

<script src="js/index.js"></script>
</main>
