<main id="mainLogin">

    <div class="menuBox">
        {{> navButtons }}
    </div>
    
    <div class ="bigboicontainer">
        <h1 class="loginHeader">Login</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name Here.">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Sign in</button>
    </div>

    <!-- modal for login responses -->
    <div class="modal fade" id="loginModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
    
          <div class="modal-header">
            <h2>Login</h2>
            <button type="button" class="close" id="closeInstructions1"
              data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body">
            <h4 id="loginModalText1"></h4>
            <h4 id="loginModalText2"></h4>
    
          </div>
    
          <div class="modal-footer">
            <a href="/">
              <button class="btn btn-primary" data-dismiss="modal">Home
                page</button>
            </a>
            <button type="button btn-sm" id="closeInstructions2"
              class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>

    
    
    

    <script src="js/login.js"></script>
</main>