<main id="mainLogin">

    <div id="loginMenuBox">
        {{> navButtons }}
    </div>
    
    <div class ="bigboicontainer">
        <h1 class="loginHeader">Login</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name Here.">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">Sign in</button>
    </div>

    

    
    
    

    <script src="js/login.js"></script>
</main>