<main id="mainBooking">

    <div class="menuBox">
        {{> navButtons }}
    </div>
    
    <div class="bigboicontainer">
        <h1 class="loginHeader">See your bookings</h1>
        <form>
            <!-- user selection -->
            <button type="button" id="userMenu" class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Choose user
            </button>
            <div class="dropdown-menu" id="dropdownMenu">
                {{#each userNames}}
                <a class="dropdown-item userDropdown" href="#" data-value="{{id}}" data-name="{{name}}">
                    {{name}}</a>
                {{/each}}
        
            </div>
        
            <!-- start and end dates -->
            <div class="form-group">
                <label for="startDateInput">Start date for search (mm/dd/yyyy)</label>
                <input type="date" id="startDateInput" class="form-control" placeholder="Start time">
                <label for="endDateInput">End date for search (mm/dd/yyyy)</label>
                <input type="date" id="endDateInput" class="form-control" placeholder="End time">
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


    <!-- Table to display bookings -->
    <div class="bigboicontainer resultsTable">
        <h3>Your bookings</h3>
            <table class="table  border border-primary">
                <thead>
                    <tr>
                        <th scope="col">Facility</th>
                        <th scope="col">Start time</th>
                        <th scope="col">End time</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>            
    </div>

 </div>

<script src="js/userBookings.js"></script>

</main>