
        @charset "UTF-8";

        .sg-color {
            color: #a3bc00
        }

        .sg-color.-primary {
            color: #ffbf00
        }

        .sg-color.-secondary {
            color: #439fc2
        }

        .sg-color.-danger {
            color: #d6162c
        }

        @font-face {
            font-family: Gotham-Medium;
            font-weight: 700;
            src: url(/);
            src: local("☺"), url(/) format("woff"), url(/) format("truetype"), url(/gotham_font/gotham-medium.svg) format("svg")
        }

        a {
            transition: color 250ms ease-in-out
        }

        .page__section {
            padding-top: 1.75rem;
            padding-bottom: 1.75rem
        }

        .page__section--sm {
            padding-top: .75rem;
            padding-bottom: .75rem
        }

        .page__section--overflowHidden {
            overflow: hidden
        }

        .page__section--smoke {
            background-color: #ededee
        }

        .page__section--light-grey {
            background-color: #dfdfdf
        }

        .page__section--dark {
            background-color: #303436;
            color: #fff
        }

        .page__title {
            text-transform: uppercase;
            font-size: 1.625rem;
            letter-spacing: 4px
        }

        .page__link,
        .page__link:hover {
            color: #000
        }

        .page__description {
            font-size: .875rem;
            color: #5b5b5f;
            margin-bottom: 1.75rem
        }

        .page__header {
            background: center center/cover no-repeat #ededee;
            position: relative
        }

        @media (min-width:992px) {
            .page__description--constrain {
                width: 62%;
                margin-left: auto;
                margin-right: auto
            }

            .page__header {
                height: 80vh
            }
        }

        .cursor {
            cursor: pointer
        }

        .tooltip-inner {
            background-color: rgba(0, 0, 0, .8)
        }

        .tooltip .arrow:before {
            margin-left: -3px;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 3.5px 0;
            border-color: #000 transparent transparent;
            right: 50%;
            bottom: -7px
        }

        .bs-tooltip-left .arrow:before {
            border-width: 3.5px 0 3.5px 7px;
            border-color: transparent transparent transparent #000;
            right: -7px;
            bottom: 50%
        }


        .sg-mega-footer[_ngcontent-c1] {
            background-color: #313436;
            padding: 2rem 0
        }

        .sg-mega-footer__icon[_ngcontent-c1] {
            color: #aeadad
        }

        .sg-mega-footer__title[_ngcontent-c1] {
            font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
            font-weight: 700;
            font-size: 1.25rem;
            color: #fff
        }

        .sg-mega-footer__para[_ngcontent-c1] {
            color: #aeadad
        }

        .sg-mega-footer__container[_ngcontent-c1] {
            border-radius: .25rem;
            background-color: #464a4c;
            padding: 1rem
        }

        .sg-mega-footer__divider[_ngcontent-c1] {
            border-bottom: 1px solid #fff;
            height: 1px;
            padding-top: 1.5rem;
            margin-bottom: 1.5rem
        }

        .sg-mega-footer__copyright[_ngcontent-c1] {
            color: #fff
        }

        .sg-mega-footer[_ngcontent-c1] a[_ngcontent-c1] {
            color: #a3bc00;
            display: block
        }

        .sg-mega-footer[_ngcontent-c1] a[_ngcontent-c1] .sg-mega-footer__icon[_ngcontent-c1] {
            color: #a3bc00;
            transition: color 250ms ease-in-out
        }

        .sg-mega-footer[_ngcontent-c1] a[_ngcontent-c1] .sg-mega-footer__icon[_ngcontent-c1]:hover,
        .sg-mega-footer[_ngcontent-c1] a[_ngcontent-c1]:hover {
            color: #deee86
        }
        [_nghost-c2] {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #a3bc00;
            padding: .5rem 0;
            z-index: 9999
        }

        .cookie__link[_ngcontent-c2] {
            color: #292b2c;
            text-decoration: underline
        }

        .cookie__link[_ngcontent-c2]:hover {
            color: #fff
        }

        .cookie__icon[_ngcontent-c2] {
            transition: color 250ms ease-in-out
        }

        .cookie__icon[_ngcontent-c2]:hover {
            color: #fff
        }

        @media (min-width:768px) {
            [_nghost-c2] {
                padding: .25rem 0
            }

            .cookie__text[_ngcontent-c2] {
                font-size: .875rem
            }

            .cookie__icon[_ngcontent-c2] {
                font-size: 2.3em
            }
        }
        .newsletter__description[_ngcontent-c3] {
            font-size: .625rem
        }

        .newsletter__input[_ngcontent-c3] {
            border: 1px solid #fff;
            border-bottom: 1px solid #fff
        }

        .newsletter__input[_ngcontent-c3]:focus {
            outline: 0;
            box-shadow: none
        }

        .newsletter__btn[_ngcontent-c3] {
            width: 100%;
            display: block
        }

        @media (min-width:576px) {
            .newsletter__btn[_ngcontent-c3] {
                width: auto;
                display: inline-block
            }
        }
    
    
        .hero[_ngcontent-c5] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 18%
        }

        @media (min-width:768px) {
            .hero[_ngcontent-c5] {
                height: 75vh;
                padding-top: 5rem
            }
        }

        .hero__logo[_ngcontent-c5] {
            max-width: 250px;
            height: auto;
            margin-bottom: 1rem
        }

        .hero__title[_ngcontent-c5] {
            letter-spacing: 1px;
            font-weight: 500;
            margin-bottom: 1.75rem;
            text-shadow: 1px 1px 2px rgba(3, 3, 3, .75);
            font-size: 1.75rem;
            color: #fff;
            width: 100%
        }

        .hero__description[_ngcontent-c5] {
            font-size: 1rem;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(3, 3, 3, .75);
            width: 100%
        }

        .hero__form[_ngcontent-c5] {
            width: 80%;
            margin-bottom: 1rem
        }

        .hero__select[_ngcontent-c5] {
            box-shadow: 0 0 7px #3f480f;
            -webkit-appearance: none;
            outline: 0;
            border-color: transparent;
            color: #5b5b5f;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=) 100% 50%/24px no-repeat #fff;
            margin-bottom: .25rem
        }

        .hero__select--error[_ngcontent-c5] {
            border: 1px solid #d32f2f;
            margin-bottom: 0
        }

        .hero__feedback[_ngcontent-c5] {
            margin-bottom: .25rem
        }

        @media (min-width:768px) {
            .hero__logo[_ngcontent-c5] {
                max-width: 500px
            }

            .hero__select[_ngcontent-c5] {
                display: inline-block;
                width: auto;
                margin-right: .25rem
            }

            .hero__inline--md[_ngcontent-c5] {
                display: inline-block;
                position: relative
            }

            .hero__select--error[_ngcontent-c5] {
                margin-bottom: .25rem
            }

            .hero__feedback[_ngcontent-c5] {
                position: absolute;
                left: 0;
                bottom: -23px;
                width: 200%;
                text-align: left
            }
        }

        .hero__feedback--error[_ngcontent-c5] {
            color: #d32f2f
        }

        .hero__btn[_ngcontent-c5] {
            border: 2px solid #c1d626;
            background-color: #c1d626;
            color: #5b5b5f;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            font-size: .875rem;
            display: block;
            width: 100%;
            box-shadow: 0 0 7px #3f480f
        }

        @media (min-width:768px) {
            .hero__btn[_ngcontent-c5] {
                display: inline-block;
                width: auto
            }
        }

        .hero__btn[_ngcontent-c5]:hover {
            border: 2px solid #d7ea60;
            background-color: #d7ea60
        }
    
        [_nghost-c6] .flow[_ngcontent-c6] {
            background-color: #303436;
            color: #fff;
            font-family: Gotham-Medium, sans-serif
        }

        [_nghost-c6] .flow__container[_ngcontent-c6] {
            margin-bottom: 0;
            line-height: 5
        }

        [_nghost-c6] .flow__icon[_ngcontent-c6] {
            font-size: 1.875rem;
            position: absolute;
            top: 22px
        }

        [_nghost-c6] .flow__icon--lg[_ngcontent-c6] {
            font-size: 2rem
        }

        [_nghost-c6] .flow__text[_ngcontent-c6] {
            padding-right: 1.75rem;
            padding-left: 2.25rem
        }
    
        [_nghost-c8] {
            color: #fff
        }

        [_nghost-c8] .font.size14[_ngcontent-c8] {
            font-size: 14px
        }

        [_nghost-c8] .mlp-h1[_ngcontent-c8] {
            font-size: 28px
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] {
            min-height: 495px
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] .phones[_ngcontent-c8] img[_ngcontent-c8] {
            max-width: 260px
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] .description[_ngcontent-c8] ul[_ngcontent-c8]:not(.reviews) {
            list-style-type: disc
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] .fa-star[_ngcontent-c8],
        [_nghost-c8] .container-fluid[_ngcontent-c8] h1[_ngcontent-c8] {
            color: gold
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] .fa-star[_ngcontent-c8] a[_ngcontent-c8],
        [_nghost-c8] .container-fluid[_ngcontent-c8] h1[_ngcontent-c8] a[_ngcontent-c8] {
            color: gold
        }

        [_nghost-c8] .container-fluid[_ngcontent-c8] .fa-star[_ngcontent-c8] a[_ngcontent-c8]:active,
        [_nghost-c8] .container-fluid[_ngcontent-c8] .fa-star[_ngcontent-c8] a[_ngcontent-c8]:focus,
        [_nghost-c8] .container-fluid[_ngcontent-c8] h1[_ngcontent-c8] a[_ngcontent-c8]:active,
        [_nghost-c8] .container-fluid[_ngcontent-c8] h1[_ngcontent-c8] a[_ngcontent-c8]:focus {
            color: #fff;
            background: #ff0
        }

        [_nghost-c8] .container-fluid.full[_ngcontent-c8] {
            background: url(/ng-assets/app_background.jpg) left center/cover no-repeat;
            -o-background-size: cover;
            height: 100%;
            padding-top: 20px
        }

        [_nghost-c8] .store-badge[_ngcontent-c8] {
            height: 40px
        }
    
        .city__hidden[_ngcontent-c9] {
            display: none
        }

        @media (min-width:992px) {
            .city__hidden[_ngcontent-c9] {
                display: block
            }

            .city__venue[_ngcontent-c9] {
                float: left;
                width: 25%;
                display: inline-block;
                padding-left: 1rem
            }

            .city__venue--big[_ngcontent-c9] {
                width: 50%;
                height: 367px
            }

            .city__venue--right[_ngcontent-c9] {
                float: right
            }
        }
    
        .process[_ngcontent-c10] {
            margin-top: 2.5rem
        }

        .process[_ngcontent-c10]:first-of-type {
            margin-top: 0
        }

        .process[_ngcontent-c10]:last-of-type {
            margin-bottom: 2.5rem
        }

        @media (min-width:576px) {
            .process[_ngcontent-c10] {
                margin-top: 0
            }
        }

        .process__icon[_ngcontent-c10] {
            color: #a3bc00;
            font-size: 3.75rem;
            font-weight: 200;
            padding-bottom: 1rem
        }

        .process__title[_ngcontent-c10] {
            letter-spacing: 2px;
            font-size: 1.625rem;
            font-weight: 300
        }

        .stats[_ngcontent-c11] {
            background-color: #fff;
            margin-bottom: 1.75rem;
            border: 1px solid #f0f0f0
        }

        @media (min-width:768px) {
            .stats[_ngcontent-c11] {
                margin-bottom: 0
            }
        }

        .stats__link[_ngcontent-c11] {
            display: block;
            box-shadow: 0 0 2px #ccc;
            border: 1px solid #f0f0f0;
            transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out
        }

        .stats__link[_ngcontent-c11]:hover {
            box-shadow: none
        }

        @media (min-width:992px) {
            .stats__link[_ngcontent-c11]:hover {
                -webkit-transform: translate(0, -5px);
                transform: translate(0, -5px)
            }
        }

        .stats__amount[_ngcontent-c11] {
            font-family: Roboto, sans-serif;
            color: #a3bc00;
            padding-top: 1rem;
            font-weight: 600;
            font-size: 1.375rem
        }

        .stats__description[_ngcontent-c11] {
            letter-spacing: 2px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-bottom: 1rem
        }
        .partner__logo[_ngcontent-c12] {
            display: inline-block;
            vertical-align: middle;
            width: 48%;
            text-align: center;
            margin: 0;
            padding: 1.25rem .5rem
        }

        @media (min-width:768px) {
            .partner__logo[_ngcontent-c12] {
                width: 23%
            }
        }

        @media (min-width:992px) {
            .partner__logo[_ngcontent-c12] {
                width: cal(100/7);
                padding: 1.25rem .5rem 0
            }
        }

        @media (min-width:1200px) {
            .partner__logo[_ngcontent-c12] {
                width: 12%;
                padding: 1.25rem .5rem
            }
        }

        .partner__img[_ngcontent-c12] {
            width: auto;
            height: 50px
        }
        .blog__title[_ngcontent-c13] {
            font-size: 1rem;
            color: #a3bc00;
            margin: .25rem 0 .5rem
        }

        .blog__link[_ngcontent-c13] {
            color: #a3bc00;
            transition: color 250ms ease-in-out
        }

        .blog__link[_ngcontent-c13]:hover {
            color: #7c9600
        }

        .card[_ngcontent-c13] {
            border: 0
        }

        .card[_ngcontent-c13] .card-img-top[_ngcontent-c13] {
            background-position: center center;
            background-size: cover;
            width: 100%;
            height: auto;
            transition: box-shadow 250ms ease-in-out
        }

        @media (min-width:768px) and (max-width:991.98px) {
            .card[_ngcontent-c13] .card-img-top[_ngcontent-c13] {
                height: 150px
            }
        }

        .card[_ngcontent-c13] .card-img-top[_ngcontent-c13]:hover {
            box-shadow: 0 0 9px #3f480f
        }

        .card[_ngcontent-c13] .card-block[_ngcontent-c13] {
            padding: 0
        }

        .btn-default[_ngcontent-c13] {
            background-color: #fff;
            color: #5b5b5f;
            border: 1px solid #a3bc00;
            cursor: pointer
        }

        .btn-default[_ngcontent-c13]:hover {
            background-color: #a3bc00;
            color: #fff
        }
        .menu[_ngcontent-c14] {
            font-family: Roboto, sans-serif;
            color: #a3bc00;
            position: fixed;
            width: 100%;
            left: 0;
            z-index: 10
        }

        .menu__links[_ngcontent-c14] {
            background-color: rgba(0, 0, 0, .6);
            padding: .25rem 0 0
        }

        @media (min-width:768px) {
            .menu[_ngcontent-c14] {
                position: absolute
            }

            .menu__links[_ngcontent-c14] {
                background-color: rgba(0, 0, 0, .45);
                padding: .25rem 0
            }
        }

        .menu__toggler[_ngcontent-c14] {
            display: inline-block;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 5px
        }

        .menu__bar[_ngcontent-c14] {
            color: #fff;
            transition: color 250ms ease-in-out;
            padding: .25rem .5rem
        }

        .menu__bar[_ngcontent-c14]:hover {
            color: #a3bc00
        }

        .menu__toggler--right[_ngcontent-c14] {
            float: right;
            margin-top: .18rem
        }

        .menu__brand[_ngcontent-c14] {
            margin-bottom: .5rem;
            width: 120px;
            height: auto
        }

        .menu__brand--lg[_ngcontent-c14] {
            width: 180px;
            margin-bottom: 0
        }

        .menu__container--hidden[_ngcontent-c14] {
            display: none
        }

        .menu__list[_ngcontent-c14] {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 0;
            padding: 0;
            list-style: none
        }

        .menu__list--last[_ngcontent-c14] {
            border-bottom: 1px solid #fff
        }

        .menu__item[_ngcontent-c14] {
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff
        }

        .menu__item--relative[_ngcontent-c14] {
            position: relative
        }

        .menu__link[_ngcontent-c14] {
            padding: .5rem 1.25rem;
            text-transform: uppercase;
            font-size: .75rem;
            color: #a3bc00;
            transition: color 250ms ease-in-out;
            display: block
        }

        .menu__link[_ngcontent-c14]:hover {
            color: #7c9600
        }

        @media (min-width:768px) {
            .menu__container--hidden[_ngcontent-c14] {
                display: block
            }

            .menu__list[_ngcontent-c14] {
                margin-top: 14px
            }

            .menu__item--logo[_ngcontent-c14] {
                margin-top: -23px
            }

            .menu__list--last[_ngcontent-c14] {
                border-bottom: none
            }

            .menu__list--right[_ngcontent-c14] {
                float: right;
                margin-top: -2px
            }

            .menu__item[_ngcontent-c14] {
                border: none;
                float: left
            }

            .menu__item[_ngcontent-c14]:last-child {
                border: none
            }

            .menu__link[_ngcontent-c14] {
                font-size: .9375rem;
                display: inline-block;
                padding: .5rem
            }

            .menu__link--img[_ngcontent-c14] {
                padding: .5rem .5rem 0
            }

            .menu__btn[_ngcontent-c14] {
                border: 1px solid #b1c91b;
                background-color: #b1c91b;
                font-size: .75rem;
                color: #3f480f;
                border-radius: 2px;
                font-weight: 600;
                text-transform: uppercase;
                padding: .25rem 1rem;
                cursor: pointer;
                margin-right: 1rem;
                transition: background-color 250ms ease-in-out, color 250ms ease-in-out
            }

            .menu__btn[_ngcontent-c14]:hover {
                color: #3f480f;
                background-color: rgba(124, 150, 0, .95)
            }

            .menu__btn--dark[_ngcontent-c14] {
                background-color: rgba(0, 0, 0, .6);
                color: #a3bc00;
                margin-right: 0
            }

            .menu__btn--dark[_ngcontent-c14]:hover {
                color: #7c9600;
                background-color: rgba(0, 0, 0, .6)
            }

            .menu__icon--hidden[_ngcontent-c14] {
                display: none
            }
        }

        .menu-sub[_ngcontent-c14] {
            margin: 0;
            padding: 0;
            list-style-type: none
        }

        @media (min-width:768px) {
            .menu-sub[_ngcontent-c14] {
                border-radius: .25rem;
                background-color: #000;
                position: absolute;
                left: .5rem;
                min-width: 10rem;
                padding: .25rem 0
            }

            .menu-sub[_ngcontent-c14]:before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-width: 0 10px 10px;
                border-color: transparent transparent #000;
                top: -10px;
                left: 10px;
                border-style: solid
            }
        }

        .menu-sub__item[_ngcontent-c14] {
            padding: .25rem 1.9rem
        }

        .menu-sub__item[_ngcontent-c14]:first-child {
            padding: 0 1.9rem .25rem
        }

        .menu-sub__link[_ngcontent-c14] {
            display: block;
            text-transform: uppercase;
            font-size: .75rem;
            color: #a3bc00;
            transition: color 250ms ease-in-out
        }

        .menu-sub__link[_ngcontent-c14]:hover {
            color: #7c9600
        }

        @media (min-width:768px) {

            .menu-sub__item[_ngcontent-c14],
            .menu-sub__item[_ngcontent-c14]:first-child {
                padding: .25rem .5rem
            }

            .menu-sub__link[_ngcontent-c14] {
                color: #fff;
                font-size: .875rem
            }

            .menu-sub__link[_ngcontent-c14]:hover {
                color: #7c9600
            }
        }

        .form-submitted[_ngcontent-c21] .ng-invalid[_ngcontent-c21]:not(form) {
            border-color: #d32f2f !important
        }

        .mlp-color-error[_ngcontent-c21] {
            color: #d32f2f !important
        }

        .input-group-invalid[_ngcontent-c21] .input-group-prepend[_ngcontent-c21] {
            border-color: #d32f2f
        }

        .input-group-text[_ngcontent-c21] {
            background-color: #fff
        }

        .form-control[_ngcontent-c21] {
            font-size: 14px
        }

        input.form-control[_ngcontent-c21]:focus {
            border: 1px solid rgba(0, 0, 0, .15)
        }

        .modal-header[_ngcontent-c21] a[_ngcontent-c21] {
            color: #fff
        }

        .modal-header[_ngcontent-c21] a[_ngcontent-c21]:focus,
        .modal-header[_ngcontent-c21] a[_ngcontent-c21]:hover {
            color: #deee86
        }
        .form-control[_ngcontent-c22]:focus {
            border-color: #a3bc00
        }

        .form-submitted[_ngcontent-c22] .ng-invalid[_ngcontent-c22]:not(form) {
            border-color: #d32f2f
        }

        .mlp-color-error[_ngcontent-c22] {
            color: #d32f2f
        }

        .input-group-text[_ngcontent-c22] {
            background-color: #fff
        }

        .input-group-invalid[_ngcontent-c22] .input-group-prepend[_ngcontent-c22] {
            border-color: #d32f2f
        }

        .form-control[_ngcontent-c22] {
            font-size: 14px
        }

        input.form-control[_ngcontent-c22]:focus {
            border: 1px solid rgba(0, 0, 0, .15)
        }

        .link[_ngcontent-c22],
        .link[_ngcontent-c22]:hover {
            color: #fff
        }

        .link__black[_ngcontent-c22],
        .link__black[_ngcontent-c22]:hover {
            color: #000
        }
        .btn-default[_ngcontent-c16] {
            background-color: #fff;
            color: #5b5b5f;
            border: 1px solid #a3bc00;
            cursor: pointer
        }

        .btn-default[_ngcontent-c16]:hover {
            background-color: #a3bc00;
            color: #fff
        }
        [_nghost-c15] .imageText[_ngcontent-c15] {
            margin-bottom: 0;
            padding-bottom: .75rem
        }

        [_nghost-c15] .imageText__link[_ngcontent-c15] {
            display: inline-block;
            border-radius: 5px;
            transition: box-shadow 250ms ease-in-out
        }

        [_nghost-c15] .imageText__link[_ngcontent-c15]:hover {
            box-shadow: 0 0 9px #3f480f
        }

        [_nghost-c15] .imageText__container[_ngcontent-c15] {
            position: relative;
            width: 100%;
            margin: 0
        }

        [_nghost-c15] .imageText__img[_ngcontent-c15] {
            width: 100%;
            height: auto;
            border-radius: 5px
        }

        [_nghost-c15] .imageText__caption[_ngcontent-c15] {
            color: #fff;
            position: absolute;
            left: 4%;
            bottom: 5%;
            font-family: Gotham-Medium, sans-serif;
            text-shadow: 1px 1px 2px rgba(3, 3, 3, .75);
            z-index: 4
        }

        @media (min-width:768px) and (max-width:991.98px) {
            [_nghost-c15] .imageText__caption[_ngcontent-c15] {
                font-size: 1.375rem
            }
        }

        [_nghost-c15] .imageText__caption--constrain[_ngcontent-c15] {
            width: 54%
        }

        [_nghost-c15] .imageText__caption--lg[_ngcontent-c15] {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 80%;
            bottom: auto;
            text-align: center;
            font-size: 1.375rem;
            line-height: .9;
            text-transform: uppercase
        }

        @media (min-width:992px) {
            [_nghost-c15] .imageText__caption--lg[_ngcontent-c15] {
                font-size: 1.75rem
            }
        }

        [_nghost-c15] .imageText__caption--sub[_ngcontent-c15] {
            font-size: 1rem;
            text-transform: uppercase
        }

        @media (min-width:992px) {
            [_nghost-c15] .imageText__caption--sub[_ngcontent-c15] {
                font-size: 1.25rem
            }
        }
        @media (min-width:768px) and (max-width:1199.98px) {
            [_nghost-c17] .description[_ngcontent-c17] {
                min-height: 84px
            }
        }

        @media (min-width:992px) {
            [_nghost-c17] .description[_ngcontent-c17] {
                min-height: 63px
            }
        }

        [_nghost-c17] i.fa.large[_ngcontent-c17] {
            font-size: 60px
        }
        [_nghost-c19] span {
            color: #fff
        }

        [_nghost-c19] .hand span {
            color: #2f285a
        }

        .notification[_ngcontent-c19] {
            text-transform: uppercase;
            font-family: "Frank New", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2;
            background-color: #56e07b
        }

        .notification__dark[_ngcontent-c19] {
            background-color: #2f285a;
            color: #56e07b;
            position: relative;
            width: 50%;
            display: inline-block
        }

        .notification__dark.-right[_ngcontent-c19] {
            padding: 1rem .75rem 1rem 1rem
        }

        @media (min-width:768px) {
            .notification[_ngcontent-c19] {
                font-size: 1.125rem
            }

            .notification__dark.-right[_ngcontent-c19] {
                padding: 1rem 2.5rem
            }
        }

        .notification__dark[_ngcontent-c19]:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background: #2f285a;
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
            -webkit-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg)
        }

        .notification__light[_ngcontent-c19] {
            background-color: #56e07b;
            color: #2f285a;
            width: 50%;
            display: inline-block
        }

        .notification__light.-left[_ngcontent-c19] {
            padding: 1rem 1rem 1rem 2rem
        }

        @media (min-width:768px) {
            .notification__light.-left[_ngcontent-c19] {
                padding: 1rem 2.5rem 1rem 4rem
            }
        }

        .notification__content[_ngcontent-c19] {
            z-index: 3;
            position: relative
        }

        .hero[_ngcontent-c24] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 26%
        }

        @media (min-width:768px) {
            .hero[_ngcontent-c24] {
                height: 77vh;
                padding-top: 5rem
            }
        }

        .hero__logo[_ngcontent-c24] {
            max-width: 200px;
            height: auto;
            margin-bottom: 1rem
        }

        @media (min-width:768px) {
            .hero__logo[_ngcontent-c24] {
                max-width: 400px
            }
        }

        .hero__title[_ngcontent-c24] {
            letter-spacing: 1px;
            font-weight: 500;
            margin-bottom: 1.75rem;
            text-shadow: 1px 1px 2px rgba(3, 3, 3, .75);
            font-size: 1.75rem;
            color: #fff;
            width: 100%
        }

        .hero__description[_ngcontent-c24] {
            font-size: 1rem;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(3, 3, 3, .75);
            width: 100%
        }

        [_nghost-c25] ngb-datepicker .btn-link,
        [_nghost-c25] ngb-datepicker .ngb-dp-weekday {
            color: #a3bc00 !important
        }

        [_nghost-c25] ngb-datepicker .ngb-dp-month-name {
            height: 1.5rem;
            line-height: 1.5rem;
            font-size: 1rem
        }

        [_nghost-c25] ngb-datepicker .btn-light:hover,
        [_nghost-c25] ngb-datepicker .ngb-dp-day .btn-secondary:hover {
            background-color: #deee86
        }

        [_nghost-c25] ngb-datepicker .ngb-dp-day>.active:not(.bg-primary) {
            background-color: #fff;
            outline: 0
        }

        [_nghost-c25] ngb-datepicker .ngb-dp-day .bg-primary {
            background-color: #a3bc00 !important
        }

        [_nghost-c25] ngb-datepicker .ngb-dp-week {
            margin-bottom: 5px
        }

        [_nghost-c25] .error[_ngcontent-c25] ngb-timepicker .ngb-tp input {
            border: 1px solid #d32f2f
        }

        [_nghost-c25] ngb-timepicker .ngb-tp input {
            min-width: 55px
        }

        [_nghost-c25] ngb-timepicker .ngb-tp input:focus {
            border: 1px solid rgba(0, 0, 0, .15)
        }

        [_nghost-c25] ngb-timepicker button {
            cursor: pointer
        }

        [_nghost-c25] ngb-timepicker .btn-link {
            color: #a3bc00
        }

        [_nghost-c25] ngb-timepicker .btn-outline-primary {
            color: #a3bc00;
            border-color: #a3bc00
        }

        [_nghost-c25] ngb-timepicker .btn-outline-primary:hover {
            background-color: #a3bc00;
            color: #fff
        }

        [_nghost-c25] ngb-timepicker .btn-outline-primary:focus {
            background-color: inherit;
            color: #a3bc00;
            outline: 0
        }

        [_nghost-c25] ngb-timepicker td {
            vertical-align: middle
        }

        [_nghost-c25] ngb-datepicker {
            top: 36px !important
        }

        [_nghost-c25] {
            margin-bottom: 1rem;
            display: block;
            width: 100%
        }

        .hero__form[_ngcontent-c25] {
            width: 80%;
            margin-bottom: 1rem
        }

        .hero__select[_ngcontent-c25] {
            box-shadow: 0 0 7px #3f480f;
            -webkit-appearance: none;
            outline: 0;
            border-color: transparent;
            display: block;
            width: 100%;
            height: calc(2.5rem - 2px);
            padding: .25rem 1.75rem .25rem .75rem;
            color: #5b5b5f;
            margin-bottom: .25rem;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=) 100% 50%/24px no-repeat #fff;
            vertical-align: top
        }

        @media (min-width:992px) {
            .hero__inline[_ngcontent-c25] {
                width: 17%
            }
        }

        .hero__feedback[_ngcontent-c25] {
            margin-bottom: .25rem
        }

        @media (min-width:768px) {
            [_nghost-c25] {
                max-width: 1200px;
                text-align: center
            }

            .hero__select[_ngcontent-c25] {
                margin-right: .25rem;
                float: left
            }

            .hero__inline--md[_ngcontent-c25] {
                display: inline-block;
                position: relative;
                width: 17%
            }

            .hero__feedback[_ngcontent-c25] {
                position: absolute;
                left: 0;
                bottom: -23px;
                width: 100%;
                text-align: left
            }

            .hero__feedback--left[_ngcontent-c25] {
                left: 6px;
                bottom: -27px
            }

            .hero__location[_ngcontent-c25] {
                display: inline-block;
                width: 45%;
                vertical-align: top
            }
        }

        @media (min-width:992px) {
            .hero__feedback--left[_ngcontent-c25] {
                left: 11px
            }
        }

        .hero__feedback--error[_ngcontent-c25] {
            color: #d32f2f
        }

        .hero__input[_ngcontent-c25] {
            border: 1px solid #fff;
            font-size: 1rem;
            color: #5b5b5f;
            background-color: #fff;
            background-image: none;
            box-shadow: 0 0 7px #3f480f
        }

        .hero__input--xsspacing[_ngcontent-c25] {
            padding: .2rem 0
        }

        .hero__input--error[_ngcontent-c25] {
            border: 1px solid #d32f2f
        }

        .hero__location[_ngcontent-c25] {
            margin-bottom: .25rem;
            position: relative
        }

        .hero__container[_ngcontent-c25] {
            position: relative;
            z-index: 3
        }

        .hero__tooltip[_ngcontent-c25] {
            position: absolute;
            z-index: 3;
            background-color: rgba(0, 0, 0, .8);
            color: #fff;
            border-radius: .25rem;
            padding: .25rem .5rem;
            top: -181%;
            right: 15px;
            max-width: 250px;
            transition: opacity 250ms ease-in-out;
            visibility: hidden;
            opacity: 0
        }

        .hero__tooltip--opacity[_ngcontent-c25] {
            opacity: 1
        }

        .hero__tooltip--visibility[_ngcontent-c25] {
            visibility: visible
        }

        @media (min-width:576px) {
            .hero__tooltip[_ngcontent-c25] {
                top: -231%
            }
        }

        .hero__tooltip[_ngcontent-c25]:before {
            margin-left: -3px;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0;
            border-color: #000 transparent transparent;
            right: 8%;
            bottom: -7px
        }

        .location__btn[_ngcontent-c25] {
            border: none;
            background: #fff;
            box-shadow: 2px 0 5px 1px rgba(3, 3, 3, .45);
            cursor: pointer;
            padding-top: .15rem;
            border-radius: 0 5px 5px 0
        }

        .location__btn--no-border[_ngcontent-c25] {
            border-radius: 0
        }

        .location__icon[_ngcontent-c25] {
            color: #c1d626;
            font-size: 1rem;
            transition: color 250ms ease-in-out;
            padding-bottom: .125rem;
            vertical-align: top
        }

        .location__icon[_ngcontent-c25]:hover {
            color: #7c9600
        }

        .hero__btn[_ngcontent-c25] {
            border: 2px solid #c1d626;
            background-color: #c1d626;
            color: #5b5b5f;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            font-size: .875rem;
            display: block;
            width: 100%;
            box-shadow: 0 0 7px #3f480f
        }

        @media (min-width:768px) {
            .hero__btn[_ngcontent-c25] {
                display: inline-block;
                width: auto;
                vertical-align: top
            }
        }

        .hero__btn[_ngcontent-c25]:hover {
            border: 2px solid #d7ea60;
            background-color: #d7ea60
        }

        .autocomplete[_ngcontent-c25] {
            position: absolute;
            left: 0;
            right: 5px;
            z-index: 50;
            cursor: pointer;
            width: 100%;
            top: 40px
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] {
            margin-bottom: 0;
            display: inherit
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25] {
            line-height: 2
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li.active-item[_ngcontent-c25],
        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25]:hover {
            background-color: #f3f9d2
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25] i[_ngcontent-c25] {
            color: #439fc2;
            font-size: 1.688rem;
            margin-top: .3125rem
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25] span.icon[_ngcontent-c25] {
            font-size: 1.875rem;
            color: #a3bc00
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25] p[_ngcontent-c25] {
            margin-bottom: 0
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25] .sub[_ngcontent-c25] {
            line-height: 0;
            margin-bottom: .9375rem
        }

        .autocomplete[_ngcontent-c25] ul[_ngcontent-c25] li[_ngcontent-c25]:not(:last-child) {
            border-bottom: none
        }

        .icon__container[_ngcontent-c25] {
            width: 45px
        }

        .autocomplete__close[_ngcontent-c25] {
            font-size: .875rem
        }

        .autocomplete__item[_ngcontent-c25] {
            width: 100%;
            height: 100%
        }

        .autocomplete__relative[_ngcontent-c25] {
            position: relative;
            width: 83%
        }

        @media (min-width:576px) {
            .autocomplete__relative[_ngcontent-c25] {
                width: auto
            }
        }

        .autocomplete__ellipsis[_ngcontent-c25] {
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .md-except[_ngcontent-c25] {
            display: inline-block
        }

        .md-only[_ngcontent-c25] {
            display: none
        }

        @media (min-width:768px) and (max-width:991.98px) {
            .md-except[_ngcontent-c25] {
                display: none
            }

            .md-only[_ngcontent-c25] {
                display: inline-block
            }
        }

        .surface[_ngcontent-c25] {
            background-color: #fff;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            text-align: left;
            padding: .5rem 1rem 0;
            position: relative;
            top: -5px;
            box-shadow: 0 3px 7px 3px rgba(0, 0, 0, .3)
        }

        .surface__input[_ngcontent-c25]:focus {
            border: 1px solid rgba(0, 0, 0, .15)
        }

        @media (max-width:767.98px) {
            .surface__select[_ngcontent-c25] {
                width: 50%
            }
        }

        .custom-select[_ngcontent-c25]:focus {
            border: 1px solid rgba(0, 0, 0, .15)
        }
        [_nghost-c26] {
            width: 100%;
            margin: 0 auto
        }

        .sp-header[_ngcontent-c26] {
            color: #fff
        }

        .sp-header[_ngcontent-c26]:hover {
            color: #a3bc00
        }

        .sport[_ngcontent-c26] {
            margin: 1rem 0 0;
            padding: 0;
            list-style-type: none
        }

        @media (min-width:992px) {
            .sport[_ngcontent-c26] {
                margin: 0
            }

            .sport__item[_ngcontent-c26] {
                min-width: 3.225rem
            }
        }

        .sport__item[_ngcontent-c26] {
            display: inline-block;
            margin: 1rem 0 0 1rem;
            font-size: .75rem
        }

        .sport__item[_ngcontent-c26]:first-child {
            margin: 1rem 0 0
        }

        @media (min-width:768px) {
            .sport__item[_ngcontent-c26] {
                margin: 0 0 0 .75rem
            }

            .sport__item[_ngcontent-c26]:first-child {
                margin: 0
            }
        }

        .sport__link[_ngcontent-c26] {
            transition: color 250ms ease-in-out;
            color: #fff
        }

        .sport__link[_ngcontent-c26]:hover {
            color: #a3bc00
        }

        .sport__icon[_ngcontent-c26] {
            font-size: 1.625rem
        }
    